@import '../../../../styles/reset.less';

.sider_container{
    width: inherit;
}

.header_container{
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 3px 0 6px #00152959;
}

nz-footer {
    text-align: center;
    background-color: white;
    margin-top: 1rem;
    height: 2rem;
    line-height: 2rem;
}