<div style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
  <form style="border: 1px solid black; padding: 20px; display: flex; flex-direction: column; row-gap: 10px; width: 300px;">
    <header style="font-weight: bold; text-align: center; font-size: 22px;">Patient Entry Form</header>
    <div>Hi There. Let's confrim it's you. Enter the patient's date of birth and zip code to start check in.</div>
    <div style="text-align: center;">Patient's date of birth</div>
    <input type="date">
    <div style="text-align: center;">Patient's zipcode (5 digits)</div>
    <input type="text">
    <button type="submit">Continue</button>
  </form>
</div>