

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User Name :: {{userProfile?.userName}}</mat-card-title>
    <mat-card-subtitle>User Email :: {{userProfile?.userEmail}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h1>Profile settings</h1>
  </mat-card-content>
</mat-card>
<div class="hero">
  <div class="form-box">
    <div class="inside">
      <form
        class="input-group"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        novalidate
        autocomplete="off"
      >
        <input
          class="input-field"
          type="text"
          id="username"
          formControlName="username"
          [placeholder]="userProfile?.userName"
        />

        <div *ngIf="!form.valid && (form.dirty || form.touched)" class="error">
          <div *ngIf="username?.value.length < 5">
            At least 5 characters and at most 12 characters:
          </div>
        </div>
        <input
          class="input-field"
          type="text"
          id="password"
          formControlName="password"
          placeholder="Password"
        />

        <div
        *ngIf="!form.valid && (form.dirty || form.touched)"
          class="error"
        >
          <div *ngIf="password?.errors?.['needUpper']">
            Need 1 upper
          </div>

          <div *ngIf="password?.errors?.['needNumber']">
            Need 1 number
          </div>

          <div *ngIf="password?.errors?.['needSpecial']">
            Need 1 special
          </div>

          <div *ngIf="password?.errors?.['needLower']">
            Need 1 lower
          </div>

          <div *ngIf="password?.errors?.['minlen']">
            the number should longer then {{ password?.errors?.['minlength'] }}!
          </div>
        </div>

        <input
          class="input-field"
          type="text"
          id="confirmPW"
          formControlName="confirmPW"
          placeholder="Confirm Password"
        />

        <div *ngIf="!form.valid && (form.dirty || form.touched)" class="error">
          <div *ngIf="form.errors?.['notMatch']">
            this password and confirm not match!
          </div>
        </div>

        <div>
          <label for="male">Male</label>
          <input type="radio" id="male" value="Male">
          <label for="female">Female</label>
          <input type="radio" id="female" value="Female">
          <label for="other">Other</label>
          <input type="radio" id="other" value="Other">
        </div>


        <input
          class="input-field"
          type="text"
          id="email"
          formControlName="email"
          [placeholder]=userProfile?.userEmail
        />
        <!-- <div *ngIf="!form.valid && (form.dirty || form.touched)" class="error">
          <div *ngIf="email?.errors?.['hasemail']">
            Email already exists, try loggin!!!
          </div>
        </div> -->

        <button class="submit-btn" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>








<!-- <div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate [style.fontSize.px]="20">

    <mat-form-field class="input-group" appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Enter your username</mat-label>
      <input matInput #input maxlength="12" placeholder="username" formControlName="username" required>
      <mat-hint align="end">{{input?.value?.length || 0}}/12</mat-hint>
      <div *ngIf="!form.valid && (form.dirty || form.touched)">
        <mat-error *ngIf="username?.value.length < 5">User name is too short</mat-error>
      </div>
    </mat-form-field>


    <mat-form-field class="input-group" appearance="fill">
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
      <mat-label>Enter your password</mat-label>
      <div *ngIf="!form.valid && (form.dirty || form.touched)">
        <mat-error *ngIf="password?.errors?.['needUpper']">Need 1 upper</mat-error>
        <mat-error *ngIf="password?.errors?.['needLower']">Need 1 lower</mat-error>
        <mat-error *ngIf="password?.errors?.['needSpecial']">Need 1 special</mat-error>
        <mat-error *ngIf="password?.errors?.['needNumber']">Need 1 number</mat-error>
        <mat-error *ngIf="password?.errors?.['minlen']">Must be longer than {{ password?.errors?.['minlength'] }}
        </mat-error>
      </div>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="fill">
      <input formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
      <mat-label>Confirm your password</mat-label>
      <div *ngIf="!form.valid && (form.dirty || form.touched)">
        <mat-error *ngIf="form.errors?.['notMatch']">Password does not match</mat-error>
      </div>
    </mat-form-field>

    <mat-radio-group class="input-group" formControlName="gender">
      <div>
        <mat-label>Gender</mat-label>
      </div>
      <mat-radio-button value="male">Male </mat-radio-button>
      <mat-radio-button value="female">Female </mat-radio-button>
      <mat-radio-button value="other">Other </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="input-group">
      <mat-label>Age</mat-label>
      <mat-select formControlName="age">
        <mat-option *ngFor="let age of [] | range: 1:100" [value]="age">
          {{ age }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="input-group" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [disabled]="true" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="input-group" appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput  formControlName="phone" />
    </mat-form-field>
    <button class="input-group" type="submit" mat-button [disabled]="!form.valid">Submit</button>
  </form>
</div> -->
