
// .news-feed-container {
//     display: flex;
//     flex-direction: column;
//     al
// }

.viewport {
  height: 100vh;
  width: 80vw;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
