nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 75px;
  background-color: #272a33;
}

nav button {
  height: 50px;
  width: 100px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #ee5f95;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background-color: #ae466d;
}

main {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 170px);
  margin: 10px 0px;
}

main > :nth-child(1) {
  width: 45%;
}

main > :nth-child(2) {
  width: 45%;
  margin-left: 20px;
}

.list-wrapper {
  float: right;
  width: 425px;
  border: ridge;
}

h1 {
  text-align: center;
}

.addBtn {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ee5f95;
  font-weight: bold;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #ae466d;
}

ul {
  list-style-type: none;
  padding: 0px;
  color: white;
  text-align: center;
  line-height: 50px;
}

li {
  height: 50px;
  margin: 10px 20px;
  background-color: grey;
  cursor: pointer;
}

li button {
  float: right;
  height: 30px;
  width: 70px;
  margin: 10px;
  background-color: red;
  cursor: pointer;
}

li button:hover {
  background-color: white;
  color: red;
}

footer {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  background-color: #272a33;
}

footer button {
  height: 50px;
  width: 100px;
  margin-left: 5px;
  border-radius: 5px;
  border-style: solid;
  background-color: #272a33;
  font-weight: bold;
  color: #ee5f95;
  cursor: pointer;
}

footer button:hover {
  background-color: #ee5f95;
  color: white;
}

@media screen and (max-width: 475px) {
  main {
    flex-direction: column-reverse;
  }

  main > :nth-child(1) {
    width: 451px;
  }

  main > :nth-child(2) {
    margin-left: 0px;
    height: 215px;
  }
}
