<nav>
  <button>Admin</button>
</nav>
<main>
  <div class="list-panel">
    <div class="list-wrapper">
      <h1>Users List</h1>
      <button class="addBtn">User +</button>
      <ul>
        <li *ngFor="let user of userlist" (click)="displayUser(user)">
          {{ user.username }}
          <button (click)="deleteUser(user.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>

  <app-user-info-panel [userinfo]="selected"></app-user-info-panel>
</main>
<footer>
  <button>My Profile</button>
  <button>News Feed</button>
  <button>Settings</button>
</footer>
