<nav>
  <button>Admin</button>
</nav>
<main>
  <div class="content-container">
    <div class="list-panel">
      <div class="list-wrapper">
        <h1>Users List</h1>
        <ul *ngIf="userlist$ | async as userlist">
          <li *ngFor="let user of userlist" (click)="displayUser(user)">
            {{ user.username }}
            <button (click)="deleteUser(user.id)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
    <app-user-info-panel [userinfo]="selected"></app-user-info-panel>
  </div>
  <div class="addBtn-container">
    <button class="addBtn">Add User</button>
  </div>
</main>
<footer>
  <button>My Profile</button>
  <button>News Feed</button>
  <button>Settings</button>
</footer>
