* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10vh;
    background-color: #192a56;
    
}

.admin {
    background-color: #0097e6;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
    background-color: #192a56;
}

.container>:nth-child(1) {
    width: 20%;
}

.container>:nth-child(2) {
    width: 80%;
}

h2, nav>div {
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: #3F51B5;
}
nav>:nth-child(n) {
    max-height: 100%;
}

nav>div{
    display: flex;
    justify-content: center;
}

ul {
    margin-top: 0;
    padding-left: 0;
    overflow-y: auto;
    background-color: white;
}





li {
    margin: 0 0;
    padding: 10px;
    list-style: none;
    color: black;
    background-color: white;
}

span:hover {
    cursor: pointer;
}

.selected {
    /* background-color: #0097e6; */
    color: black;
}

li>div {
    display: flex;
    justify-content: space-between;
    height: 25px;
    color: black;
}

.delete {
    cursor: pointer;
    background-color: #c23616;
    border: transparent;
    border-radius: 3px;
    margin: 0;
    padding: 3px 7px;
}

.newUser {
    cursor: pointer;
    background-color: #0097e6;
    padding: 10px 10px;
    margin-top: 5px;
    border: transparent;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: spread-between;
    width: 100%;
    height: 10vh;
    background-color: #192a56;
}

footer>button{
    width: 100%;
    background-color: #273c75;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}