<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <!-- <label for="post_image">Image URL: </label> -->
          <input
            type="text"
            id="post_image"
            matInput
            placeholder="input image..."
            formControlName="image"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <!-- <label for="post_video"> Video URL: </label> -->
          <input
            type="text"
            id="post_video"
            matInput
            placeholder="input video..."
            formControlName="video"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <!-- <label for="post_text"> Content: </label> -->
          <input
            type="text"
            id="post_text"
            matInput
            placeholder="input video..."
            formControlName="text"
          />
        </mat-form-field>
      </div>
      <button type="button" id="postbtn" mat-button>Post</button>
    </form>
  </mat-card-content>
</mat-card>
