#container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

app-card {
  display: flex;
  height: 800px;
  width: 500px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  box-shadow: 10px 10px gray;
}