* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  background-color: #0097e6;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 350px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  background-color: white;
  box-shadow: 6px 6px 6px 0 black;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

button {
  margin: 10px 0;
  width: 100px;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 7px;
  width: 50%;
  height: 40px;
  color: white;
  font-size: 16px;
  background-color: #428bca;
}

button:hover {
  cursor: pointer;
}

label {
  margin-bottom: -10px;
}

/* input {
  width: 100%;
  border-radius: 5px;
  border-color: #ebebeb;
  padding: 10px;
  font-size: 15px;
  border-style: inset;
  border-width: 2px;
} */

button[type="submit"]:disabled {
  background-color: lightgray;
}

.errors {
  color: red;
}
