<div class="container">
  <mat-card>
    <form action="/login" (ngSubmit)="onSubmit(regForm)" [formGroup]="regForm">
      <h1>Create an Account</h1>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput maxlength="50" formControlName="username" />
        <mat-error
          *ngIf="!username.valid && (username.touched || username.dirty)"
        >
          <div *ngIf="username?.errors?.['required']">
            A Username is required!
          </div>
          <div *ngIf="username?.errors?.['minlength']">
            Min length <strong>5</strong> required
          </div>
          <div *ngIf="username?.errors?.['maxlength']">
            Max length <strong>12</strong> exceeded
          </div>
          <div *ngIf="username?.errors?.userNameExists">
            This username is taken. Please choose a different one.
          </div>
        </mat-error>
        <mat-hint>Length <strong>5-12</strong></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">
          <div *ngIf="email?.errors?.['required']">An Email is required!</div>
          <div *ngIf="email?.errors?.['email']">
            Your entry needs to follow the email format
          </div>
          <div *ngIf="email?.errors?.['emailExists']">
            This email is used. Please choose a different one.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field id="password-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="!password.valid && (password.touched || password.dirty)"
        >
          <div *ngIf="password?.errors?.['required']">
            A Password is required!
          </div>
          <div *ngIf="password.errors.minlength">
            Min length <strong>5</strong> required
          </div>
          <div *ngIf="password.errors.pattern">
            <strong>1</strong> uppercase and <strong>1</strong> special
            character (#?!@$%^&*) required
          </div>
        </mat-error>
        <mat-hint
          >Min length <strong>5</strong>; Use <strong>1</strong> uppercase and
          <strong>1</strong> special character</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirm"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error *ngIf="!regForm.valid && (confirm.touched || confirm.dirty)">
          <div *ngIf="confirm?.errors?.required">
            A Confirmation is required!
          </div>
          <!-- <div *ngIf="regForm?.errors?.notMatch">
            Your password and confirmation need to match
          </div> -->
        </mat-error>
        <mat-hint>Please re-enter password</mat-hint>
      </mat-form-field>

      <button
        mat-flat-button
        class="register-button"
        color="primary"
        type="submit"
        [disabled]="!regForm.valid || password.value !== confirm.value"
      >
        Register
      </button>
      <div class="form-footer">
        <div class="agreement">
          <input type="checkbox" formControlName="agreement" /><label
            >Agreement</label
          >
        </div>
        <a href="login">Go Back</a>
      </div>
    </form>
  </mat-card>
</div>
