.settingpage_container {
    display: flex;
    height: 500px;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: var(--color-yellowgreen-main);
}

.settingpanel_container {
    margin: 0%;
    height: 300px;
    width: 100%;
    background-color: grey;
}
button {
    margin-left: 45%;
    margin-top: 10%;
}

