.newsitem_container {
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newsitem_container:hover {
    background-color: var(--color-grey-hover);
}

button:hover {
    cursor: pointer;
}

.newsitem_container .news_image {
    height: 100px;
    width: 100px;
}

  