button {
  width: 100px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

p {
  margin-top: 5px;
  padding: 3px;
}

button {
  margin-top: 5px;
  padding: 5px;
}
