<form [formGroup]="noteForm" (ngSubmit)="onSave()" novalidate>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Note</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="3"
      formControlName="content"
    ></textarea>
  </mat-form-field>
  <div class="action">
    <button mat-stroked-button color="warn" type="button" (click)="onRevert()">
      Revert
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
