<nz-descriptions nzTitle="User Info" [nzBordered] = true [nzColumn]="2">
  <nz-descriptions-item nzTitle="Username" [nzSpan]="2">{{userData.userName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email" [nzSpan]="2">{{userData.userEmail}}</nz-descriptions-item>
  <!-- <nz-descriptions-item nzTitle="Password" [nzSpan]="2">{{userData.password}}</nz-descriptions-item> -->
  <nz-descriptions-item nzTitle="Role" [nzSpan]="2">{{userData.userRole}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Age" [nzSpan]="2">{{userData.age}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Gender" [nzSpan]="2">{{userData.gender}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Phone" [nzSpan]="2">{{userData.phone}}</nz-descriptions-item>
</nz-descriptions>