.newfeed{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.h1{
  text-align: center;
}

.example{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.story{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
