<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <div class="container"> -->
  <!-- <app-admin></app-admin> -->

  <!-- <app-newsfeed></app-newsfeed>

  <div class="footer">
    <button>MyProflie</button>
    <button>NewsFeed</button>
    <button>Settings</button>
  </div> -->
  <!-- <app-login></app-login> -->
  <app-register></app-register>
  <!-- <div>
    <button>Myprofile</button>
    <button>NewsFeed</button>
    <button>Settings</button>
</div> -->
<!-- </div> -->
