html,
body {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(173,173,173); */
}

* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

/* .footer {
  display: flex;
  justify-content: center;
  height: var(--bar-height);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0px auto 0px;
  padding: 0px 0px;
  background-color: var(--outline-color);
} */
.bar {
  position: fixed;
  width: var(--bar-size);
  height: 100%;
  background-color: var(--outline-color);
  margin: 0px 0px;
  padding: 0px 0px;
}
.right-side {
  padding-left: 1%;
  display: flex;
  flex-direction: column;

  left: 0;
}
.matmenu{
  /* width: var(--bar-size); */
}
/* .left-side {
  
  width: 3%;
  right: 0;
} */
/* .btn-dashboard {
  width: 25%;
  cursor: pointer;
  font-size: var(--font-btn-size);
  font-weight: bold;
}
.btn-dashboard:hover {
  color: var(--button-hover-color);
} */

/* .btn-dashboard:visited {
  color: red;
} */

button {
  color: var(--button-font-color);
  border: none;
  background-color: var(--outline-color);
  /* margin-top: 5px;
  padding-left: 5px; */
  font-size: var(--font-btn-size);
}
button:hover {
  background-color: var(--outline-color);
  color: var(--button-hover-color);
}


.div-like {
  width:95%;
  margin: 0 var(--bar-size);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--outline-color);
  display: flex;
  justify-content: flex-end;
  position: fixed;
}
.active{
  background-color:aquamarine;
}