
html,
body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}


/* .footer{
    display: flex;
    justify-content: center;
    position: fixed;
    height: 45px;
    right: 0;
    bottom: 0;
    left: 0;

    color: white;
    margin: 0px auto 0px;
    padding: 0px 0px;
} */
button{
    width: 30%;
}
.example-card {
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;

}