.todolist {
    height: var(--height-todolist);
    width: var(--width-todolist);
    background-color: var(--color-green);
    box-shadow: 5px 5px 2px black;
    border-radius: 5px;
}

.todolist-header,
.todolist-input,
ul li {
    height: var(--height-todolist-header);
    line-height: var(--height-todolist-header);
    width: 100%;
    padding-left: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;

    list-style: none;
    border: none;
    outline: none;
}
.todolist-header {
    text-align: center;
    font-size: 1.7rem;
}
ul {
    height: calc(var(--height-todolist) - var(--height-todolist-header) * 2);
    overflow: auto;
}
