<mat-card class="story-card-container">

    <div class="left-container">
        <mat-card-title-group>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{storiesdetail.publisherName}}</mat-card-title>
            <mat-card-subtitle>{{storiesdetail.publishedTime | date}}</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-actions>
            <div>
                <button mat-icon-button (click)="onLiked(storiesdetail)">
                    <mat-icon [id]="storiesdetail._id" [ngStyle]="{
                      'color':
                        !liked || variable.removed.indexOf(storiesdetail._id) !== -1
                          ? 'white'
                          : 'red'              
                        
                    }">favorite</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button (click)="showComment()">
                    <mat-icon> comment</mat-icon>
                </button>
            </div>
        </mat-card-actions>
    </div>

    <div class="story-content">
        <div class="text-container">
            <mat-card-content>
                <p>{{storiesdetail.content.text}}</p>
            </mat-card-content>

        </div>
        <div class="story-media">
            <div class="img-container">
                <img src="{{storiesdetail.content.image}}" alt="image">
            </div>
            <div class="video-container">
                <video>
                    <source src="{{storiesdetail.content.video}}" type="text/html">
                </video>
            </div>

        </div>
    </div>
    <div *ngIf="storiesdetail.publisherName === currentUser || currentUserRole === 'admin'" class="delete-btn">
        <button class="delete" (click)="onDeleteStory()">X</button>
    </div>
</mat-card>