.story-card-container {
    height:230px;
    width: auto;
    background-color: #D7DBD6;
    /* border-radius: 50px; */
    padding: 3%;
    margin: 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
video {
    height: 7vw;
    max-width: 14vw;
    /* background-color: white; */
    border: solid black 1px;
    /* border-radius: 10px; */
    margin-left: 2vw;
}

img {
    height: 7vw;
    max-width: 14vw;
    border: solid black 1px;
    /* border-radius: 25px; */
    margin-left: 2vw;
}

mat-card-actions {

    display: flex;
    width: auto;
    flex-direction: column;

}
mat-card-content {
    background-color: white;
    width: 25vw;
    height: auto;
    text-align: left;
    padding: 2%;
    /* border-radius: 25px; */
}
