<main class="admin-page">
    <nav class="admin-nav">
        <div>
            <h2>My Profile</h2>
            <h2>News Feed</h2>
            <h2>Settings</h2>
        </div>
        <button>Admin</button>
    </nav>
    <section class="admin-hero">
        <ul class="user-list">
            <li>test user</li>
            <li>test user</li>
            <li>test user</li>
        </ul>
        <ul class="user-details">
            <li>test info</li>
            <li>test info</li>
            <li>test info</li>
            <li>test info</li>
            <li>test info</li>
        </ul>
    </section>
</main>
