<div *ngIf="likeListStories.length > 0; else showNone">
  <div class="container" *ngFor="let story of likeListStories">
    <div>
      <div class="title">
        <div>{{ story.publisherName }}</div>
        <div>{{ story.publishedTime | date }}</div>
      </div>
      <div>
        <img
          class="content"
          src="{{ story.content.image }}"
          alt=""
        />
        <p>{{ story.content.text }}</p>
      </div>
    </div>
    <button class="hidden" (click)="onRemoveLike(story)">Remove</button>
  </div>
</div>
<ng-template #showNone>
  <h1 style="color: white;">No liked story</h1>
</ng-template>