.container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid gainsboro;
  border-radius: 5px;
  min-height: 150px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  padding: 0 5px;
  border: 1px solid gainsboro;
}

.buttonContainer {
  text-align: right;
  margin: 5px;
}
.buttonContainer button {
  background-color: gainsboro;
}
