.container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid gainsboro;
  border-radius: 5px;
  min-height: 150px;
}
.story-dashboard-content-img {
  padding-top: var(--pading-to-top);
  height: 150px;
  width: var(--image-width-size);
  align-self: center;
}
.publiser {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.hidden {
  color: red;
  height: 30px;
}
img {
  width: var(--image-width-size);
}
.mat-dialog-container {
  background-color: var(--outline-color)!important;
}
.title {
  display: flex;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  padding: 0 5px;
  border: 1px solid gainsboro;
}

.buttonContainer {
  text-align: right;
  margin: 5px;
}
.buttonContainer button {
  background-color: gainsboro;
}