<mat-card>
  
    <mat-card-title>
    <div><mat-icon>face</mat-icon></div>
    <div>
      <button (click)="lookProfile(storyDetail.publisherName)">{{storyDetail.publisherName}}</button>
    </div>
    <div>{{ storyDetail.publishedTime | date }}</div>
    <button
      mat-icon-button
      *ngIf="checkUserRole()"
      aria-label="delete icon"
      (click)="deletePost(storyDetail._id!)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>
  <div class="story-dashboard">
    <img
      class="story-dashboard-content-img"
      src="{{ storyDetail.content?.image }}"
      alt=""
    />
  </div>
  <div class="story-dashboard-viewer">
    <button (click)="onClickComment(storyDetail)">
      <mat-icon> comment</mat-icon> {{ storyDetail.comment?.length }}
    </button>
    <button (click)="addToLikeList(storyDetail)">
      <mat-icon
        [id]="storyDetail._id"
        class="material-icons-favorite"
        [ngStyle]="{
          color:
            !likedme || variableValue.remove.indexOf(storyDetail._id!) !== -1
              ? '#884242'
              : 'red'
        }"
        >favorite</mat-icon
      >{{ storyDetail.likedIdList!.length }}
    </button>
  </div>
</mat-card-content>
</mat-card>