mat-card {
  width: 40%;
  min-width: 450px;
  min-height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
mat-card-content {
  width: 100%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 85%;
}
.story {
  width: 90%;
  height: var(--form-box-height);
  padding-left: 2%;
  margin-left: 10%;
  margin-bottom: 2%;
  background-color: azure;
  /* border: 1px solid red; */
  border-radius: 40px;
  box-shadow: 15px 10px #695c5c;

}
.story-user-detail {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.story-dashboard {
  flex-grow: 1;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.story-dashboard-content-img {
  padding-top: var(--pading-to-top);
  height: var(--form-box-width);
  width: var(--image-width-size);
  align-self: center;
  
}
div.story-dashboard-viewer {
  padding-top: var(--pading-to-top);
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.material-icons-favorite {
  color: #884242;
}

button {
  width: 200px;
  background-color: inherit;
  /* border: none; */
}

.liked {
  cursor: pointer;
  color: rgb(248, 4, 4);
}
