<mat-card>
  
    <mat-card-title>
    <div><mat-icon>face</mat-icon></div>
    <div class="title_name">
      <a  [routerLink]="['/profile']" [queryParams]="{username:storyDetail.publisherName}">{{storyDetail.publisherName}}</a>
    </div>
    <div class="title_time">{{ storyDetail.publishedTime | date }}</div>
    <button
      mat-icon-button
      *ngIf="checkUserRole()"
      aria-label="delete icon"
      (click)="deletePost(storyDetail._id!)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content>
  <div class="middle">
    <div class="image">
    <img
      class="img"
      src="{{ storyDetail.content?.image }}"
      alt=""
    />
    </div>
    <div class="text">
      <h3> {{ storyDetail.content?.text }} </h3>
    </div>
  </div>
  <div class="newsfeed_action">
    <div class="commentbtn">
    <button (click)="onClickComment(storyDetail)">
      <mat-icon> comment</mat-icon> {{ storyDetail.comment?.length }}
    </button>
  </div>
  <div class="likebtn">
    <button (click)="addToLikeList(storyDetail)">
      <mat-icon
        [id]="storyDetail._id"
        class="material-icons-favorite"
        [ngStyle]="{
          color:
            !likedme || variableValue.remove.indexOf(storyDetail._id!) !== -1
              ? '#884242'
              : 'red'
        }"
        >favorite</mat-icon
      >{{ storyDetail.likedIdList!.length }}
    </button>
  </div>
  </div>
</mat-card-content>
</mat-card>