<mat-card>
  <mat-card-title>
    <div><mat-icon>face</mat-icon></div>
    <div class="title_name">{{ story.publisherName }}</div>
    <div class="title_time">{{ story.publishedTime | date: "HH:mm - MM/dd/yyyy" }}</div>
  </mat-card-title>
  <mat-card-content>
    <!-- content -->
    <div class="middle">
      <div *ngIf="story.content.image.includes('https://')" class="image">
        <img [src]="story.content.image" alt="Image" />
      </div>
      <div *ngIf="story.content.video.includes('https://')" class="video">
        <video [src]="story.content.video"></video>
      </div>
      <div class="text">{{ story.content.text }}</div>
    </div>
    <!-- button -->
    <div class="newsfeed_action">
      <div class="commentbtn">
        <button
          type="button"
          id="commentbtn"
          mat-button
          (click)="onShowComments()"
        >
          <mat-icon>comment</mat-icon>
        </button>
        <label for="commentbtn">{{ story.comment.length }}</label>
      </div>
      <!-- <div class="spaceholder"></div> -->
      <div class="likebtn">
        <button
          type="button"
          id="likebtn"
          mat-button
          [ngClass]="{ like: ifLiked() }"
          (click)="onClick()"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <label for="commentbtn">{{ story.likedIdList.length }}</label>
      </div>
    </div>
  </mat-card-content>
</mat-card>
