<div class="main_container">
  <ul class="main_header">
    <li *ngIf="login"><a routerLink="newsfeed">News Feed</a></li>
    <li style="flex-grow: 1"></li>
    <!-- <li><a routerLink="/admin">Admin</a></li> -->
    <li *ngIf="login"><a  class="profile" routerLink="profile" [queryParams]="{username: username}">{{username}}</a></li>
    <li *ngIf="!login"><a (click)="onlogin()" routerLink="login">Login</a></li>
    <!-- <li><a routerLink="register">Register</a></li> -->
    <li *ngIf="login"><a (click)="onlogout()">Logout</a></li>
  </ul>
  <div class="main_body">
    <router-outlet></router-outlet>
  </div>
</div>