* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    height: 100%;
    width: 100%;
    // padding: 5px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

// .main_header {
//     flex-grow: 0;
// }
// .main_body{
//     // height: 80%;
//     flex-grow: 1;
// }

// .main_footer{
//     flex-grow: 0;
// }

.main_header {
    height: 4em;
    line-height: 4em;
    // flex-grow: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: aquamarine;
    justify-content: flex-start;
}

.main_header li{
    text-align: center;
    height: 100%;
    width: 6em;
}

.main_header a{
    display: block;

    -webkit-touch-callout:none ;
    -webkit-text-size-adjust:none ;
    -webkit-tap-highlight-color:transparent ;
    -webkit-user-select:none ;
    user-select: none;
    
    text-decoration: none;
}

.main_header a:hover{
    background-color: aqua;
}


.main_body{
    height: 95%;
    padding: 5px;
}

