<h1>Admin page</h1>
<div class="container">
  <div class="container-user">
      
    <div class="container-user-tag" *ngFor="let user of users">
      <span class="usertag" (click)="onUserDetail(user)">User tag {{user.id}} </span>
      <button class="deleteBtn" (click)="onDeleteBtn(user)">Delete</button>
    </div>

    <h2>Users List</h2>
    <button id="addUser">Add User</button>
  </div>
  <div class="container-userdetail">
    <app-userinfo [userDetail]="userDetail"> </app-userinfo>
  </div>
</div>
