<div class="user-container">
    <ul class="user-list">
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
        <li  class="user-item">
            <div>User Tag</div>
            <button type="butotn">Delete</button>
        </li>
    </ul>
    <button type="button" class="add-user-btn">
        Add User Button
    </button>
</div>
