.user-container {
    width: 33.33vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    min-height: calc(100vh - 48px);
    justify-content: space-between;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 48px - 5rem);
}

.user-item {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89898a;
    padding: 10px 20px;
    color: white;
}

.user-item:first-child {
    margin-top: 1rem;
}

.user-item:last-child {
    margin-bottom: 1rem;
}

.user-item button {
    position: absolute;
    right: 1rem;
    padding: 4px 8px;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background: #212125;
    transition: background-color 0.4s;
}

.add-user-btn {
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 3rem;
    transition: opacity 0.4s;
}

.user-item button:hover {
    background-color: rgb(192, 0, 0);
}

.add-user-btn:hover {
    opacity: 0.7;
}
