<div class="newsfeed-container">
    <div class="like-list">
        <button mat-fab color="warn" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="likemenu">
            <mat-icon>favorite</mat-icon>
          </button>
        <mat-menu #likemenu="matMenu">
           
            <app-like-list
            *ngFor = "let like of LikedLists"
            [likedetails] = "like"
            ></app-like-list>
         
        </mat-menu>
        
        
    </div>
    
    <app-post-card></app-post-card>
    <app-story-card
    *ngFor = "let stories of Storieslist"
    [storiesdetail] = "stories"
    ></app-story-card>
</div>
