<div class="container">
    <div>
        <div class="userContainer">
            <img src="./../../../assets/images/avatar_placeholder.jpg" alt="" class="userAvatar">
            <div class="user">
                <div>{{ story.publisherName }} -</div>
                <div>{{ story.publishedTime | date: 'MMM d HH:mm a'}}</div>
            </div>
        </div>
        <div class="contentContainer">
            <img *ngIf="story.content.image.includes('https')" src={{story.content.image}} alt="Image" class="contentImg">
            <div class="content">{{ story.content.text }}</div>
        </div>
        <div class="reactionsContainer">
            <div class="comments">
                <img src="./../../../assets/images/comments_icon.jpg" alt="" width="25px">
                <div>Comments: #</div>
            </div>
            <div class="comments" >
                <div class="like" (click)="like()">&#10084;</div>
                <div>Likes: #</div>
            </div>
        </div>
    </div>
</div>
