<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"></div>
        <div id="ProfileOptions">
        Profile Picture
        </div>
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
            <span></span>
        </p>
        <p>
            <strong>User ID</strong>
            <span></span>
        </p>
        <p>
            <strong>E-mail</strong>
            <span></span>
        </p>
        <p>
            <strong>Age</strong>
            <span></span>
        </p>
        <p>
            <strong>Gender</strong>
            <span></span>
        </p>
        
        <div>
            <button>Edit</button>
        </div>

    </div>

    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>