<form>
    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>User Email</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-rasied-button color="primary">Register</button>
</form>
