<div class="main">
    <div class="form-container">
        <h1>Register Account</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            
            <div>
                <input type="text" class="form-item" id="username" formControlName="username" placeholder="User Name">
            </div>
            <div *ngIf="!username?.valid && (username?.dirty ||username?.touched)" class="error">
                <div [hidden]="!username?.errors?.['required']">
                    Username is required
                </div>
                <div [hidden]="!username?.errors?.['minlength']">
                    Username must be atleast 4 characters
                </div>
                <div [hidden]="!username?.errors?.['maxlength']">
                    Username must be less than 12 characters
                </div>
            </div>
    
            <div>
                <input type="email" class="form-item" id="email" formControlName="email" placeholder="Email Address">
            </div>
            <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)" class="error">
                <div [hidden]="!email?.errors?.['required']">
                Email is required
                </div>
                <div [hidden]="!email?.errors?.['email']">
                invalid email id
                </div>
            </div>
    
            <div>
                <input type="text" class="form-item" id="password" formControlName="password" placeholder="Password">
            </div>
            <div *ngIf="!password?.valid && (password?.dirty ||password?.touched)" class="error">
                <div [hidden]="!password?.errors?.['required']">
                Password is required
                </div>
                <div [hidden]="!password?.errors?.['pattern']">
                Password must have: <br> 1 Uppercase, 1 special character, 8 characters
                </div>
            </div>
    
            <div>
                <input type="text" class="form-item" id="confirm" formControlName="confirm" placeholder="Confirm Password">
            </div>
            <div *ngIf="!confirm?.valid && (confirm?.dirty || confirm?.touched)" class="error">
                <div [hidden]="!confirm?.errors?.['required']">
                    Confirm password is required
                </div>
                <div *ngIf="form.errors?.['notMatch']">
                The password and confirm one does not match!
                </div>
            </div>
            
            <div class="button-container">
                <button class="register-button" type="button">Register</button>
            </div>
            <p>
                Have an account? <span class="hyperlink" (click)="toLogin()">Log In</span>
            </p>
    
        </form>
    </div>
</div>
