.contextinfo_container {
  padding: 5px;
}

.title,
.info,
button {
  padding: 5px;
}
.title {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

button {
  color: white;
  width: 100px;
}
