<nz-layout >
    <nz-layout>
        <nz-content>
            <div class="content">
                <textarea nz-input placeholder="Please enter your story" [nzAutosize]="{ minRows: 5 }"></textarea>
                <button nz-button nzType="primary" (click) = "onSubmit()" nzBlock>Post</button>
            </div>
        </nz-content>
        <nz-content nz-row>
            <div nz-col nzSpan="8"></div>
            <div nz-col nzSpan="8">
                <app-storycard *ngFor="let item of newsList" 
                [news]="item"
                (addLikeEmitter)="addLike($event)"
                (removeLikeEmitter)="deleteLiked($event)">
                </app-storycard>
            </div>
            <div nz-col nzSpan="8"></div>
        </nz-content>
    </nz-layout>
</nz-layout>