.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sider_logo{
    min-width: 30px;
    max-width: 50px;
    height: 80px;
}
.contentArea_postbtn{
    margin-top: 2rem;
    margin-left: 2rem;
    position:fixed
}