.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sider_logo{
    min-width: 30px;
    max-width: 50px;
    height: 80px;
}

.content {
    margin-top: 24px;
    width: 500px;
    margin-left: 500px;
  }