* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: cursive;
}

.header {
  height: 3rem;
  display: flex;
  align-items: center;
  // border: 1px solid green;
}

.news_container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem - 20px);
  width: 100%;
  // border: 1px solid black;
}

.header div {
  flex-grow: 1;
}

.header button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  flex-grow: 0;
  background-color: white;
  border: 1px solid red;
  padding-top: 4px;
  color: red;
}

app-likelist {
  position: absolute;
  display: none;
}

.likelist {
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  right: 5px;
  width: 20%;
  background-color: aquamarine;
  color: black;
  display: block;
  height: calc(100% - 10em);
}

.post {
  // width: 100%;
  // justify-self: center;
  text-align: center;
  // border: 1px solid red;
  height: 300px;
  flex-grow: 0;
  padding: 1%;
}

.post div {
  margin: 15px;
}

.post button {
  width: 5rem;
  background-color: aquamarine;
  // border: none;
  border-radius: 5px;
}
.newsfeed_container {
  // width: 100%;
  // border: 1px solid green;
  flex-grow: 1;
  overflow-y: scroll;
}
// .newsfeed_container::-webkit-scrollbar {
//   display: none;
// }
// .newsfeed_container {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }

.newsfeed {
  // padding: 2%;
  // border: 1px solid red;
  height: 250px;
}

.newsfeed:nth-child(2n-1){
  background-color:whitesmoke;
}


.newsfeed:nth-child(2n){
  background-color:lightcyan;
}

.newsfeed div {
  text-align: center;
}

.newsfeed_action {
  // border: 1px solid red;
  margin-top: 20px;
  height: 1.8rem;
  display: flex;
  justify-content: space-around;
}

.newsfeed_action button {
  padding-top: 4px;
  width: 2rem;
  height: 1.8rem;
  border: none;
  background-color: transparent;
}

// .newsfeed_action span {
//   // line-height: 1.8rem;
//   // vertical-align: ;
// }

// .spaceholder {
//   flex-grow: 1;
// }
