<div class="login-container">
  <mat-card class="login-box">
    <mat-card-header class="header">
      <img mat-card-avatar />
      <mat-card-title class="title" color="primary"> AntraShare</mat-card-title>
    </mat-card-header>
    <form class="form">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput />
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button">
        Login
      </button>
      <mat-card-content>
        <p>No Account? Register Now!</p>
      </mat-card-content>
    </form>

    <mat-card-footer class="footer">
      <mat-checkbox>Agree</mat-checkbox>
      <p>Need Help?</p>
    </mat-card-footer>
  </mat-card>
</div>
