<div class="login-container">
  <mat-card class="login-box">
    <mat-card-header class="header">
      <img mat-card-avatar />
      <mat-card-title class="title" color="primary"> AntraShare</mat-card-title>
    </mat-card-header>
    <form class="form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <mat-label for="username">User Name</mat-label>
        <input
          matInput
          type="text"
          name="username"
          id="username"
          required
          #username="ngModel"
          [(ngModel)]="info.username"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          type="text"
          name="password"
          id="password"
          required
          #password="ngModel"
          [(ngModel)]="info.password"
        />
      </mat-form-field>
      <div *ngIf="!username.valid && username.touched">
        <p class="warningtext">Username is required</p>
      </div>
      <div *ngIf="!password.valid && password.touched">
        <p class="warningtext">Password is required</p>
      </div>
      <button mat-raised-button color="primary" class="login-button" (click)="checkLoginInfo(username.value, password.value)" [disabled]="check"> 
        Login
      </button>
      <mat-card-content>
        <p>No Account? <span class="hyperlink" (click)="toRegister()">Register Now!</span></p>
      </mat-card-content>
    </form>

    <mat-card-footer class="footer">
      <mat-checkbox (change)="checkBox($event.checked)">Agree</mat-checkbox>
      <p>Need Help?</p>
    </mat-card-footer>
  </mat-card>
</div>
