<div class="login-container">
  <mat-card class="login-box">
    <mat-card-header class="header">
      <img mat-card-avatar />
      <mat-card-title class="title" color="primary"> AntraShare</mat-card-title>
    </mat-card-header>
    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <mat-form-field>
        <mat-label for="username">User Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="username"
          name="username"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <!-- <div *ngIf="!username?.valid && (username.touched || username.dirty)">
        <p class="warningtext">Username is required</p>
      </div>
      <div *ngIf="!password.valid && (password.touched || password.dirty)">
        <p class="warningtext">Password is required</p>
      </div> -->
      <button
        mat-raised-button
        color="primary"
        class="login-button"
        type="submit"
        [disabled]="check || !loginForm.valid"
      >
        Login
      </button>
      <mat-card-content>
        <p>
          No Account?
          <span class="hyperlink" (click)="toRegister()">Register Now!</span>
        </p>
      </mat-card-content>
    </form>

    <mat-card-footer class="footer">
      <mat-checkbox (change)="checkBox($event.checked)">Agree</mat-checkbox>
      <p>Need Help?</p>
    </mat-card-footer>
  </mat-card>
</div>
