<router-outlet>
    <div class="NavBar">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/newsfeed">Newsfeed</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/setting">Setting</a></li>
        <li><a routerLink="/admin">Admin</a></li>
    </div>
</router-outlet>
<!-- 
<app-login-page></app-login-page>
<app-register-page></app-register-page>
<app-profile-page></app-profile-page>
<app-setting-panel></app-setting-panel> -->
