<div *ngIf="getUrl() !== ('/login' || '/')">
  <mat-toolbar color="primary" *ngIf="getUrl() !== '/register'">
    <button mat-icon-button aria-label="Newsfeed button" routerLink="newsfeed">
      <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>
    <span routerLink="profile">Profile</span>
    <span *ngIf="decoded?.userRole === 'admin'" routerLink="admin">
      Admin
    </span>
    <span routerLink="setting">Setting</span>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
