
<div class="comment_container">
<h2 mat-dialog-title>Comments</h2>
<div class="comment">
<mat-dialog-content *ngFor="let comment of commentsPerpage">
  <div class="comment_title">
    <div><mat-icon>face</mat-icon></div>
    <div>{{ comment.publisherName }}</div>
    <div
        class="delete"
        (click)="onDeleteComment(comment)"
        [ngStyle]="{
          visibility:
            this.comment.publisherName === userName || allow
              ? 'visible'
              : 'hidden'
        }"
      >
        <mat-icon>delete</mat-icon>
      </div>
    <div class="comment_text">{{ comment.content.text }}</div>
  </div>
</mat-dialog-content>
<br />


<div class="button">
  <mat-dialog-actions align="center">
  <div>
    <button mat-button (click)="onClickAddComment()"> Add comment</button>
  </div>
  <button
    mat-button
    class="prevbtn"
    (click)="onPrevious()"
    [disabled]="start <= 0"
  >
    Prev
  </button>

  <button
    mat-button
    class="btn btn-number"
    *ngFor="let item of pages; let i = index"
    (click)="onGetPage(i)"
    [id]="i"
    [ngStyle]="{
      'background-color': i === page ? 'rgb(33,145,205)' : 'rgb(238,238,238)'
    }"
  >
    {{ i + 1 }}
  </button>

  <button
    mat-button class="nextbtn" (click)="onNext()" [disabled]="end >= max">
    Next
  </button>
</mat-dialog-actions>
</div>
</div>
</div>
