.comment_container {
    display: flex;
    flex-direction: column;
    height: 800px;
}

h2 {
    height: 2em;
}

.comment {
    padding: 3em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
mat-dialog-content{
    border: 1px solid gainsboro;
    padding: 1em;
    height: 8em;
    margin: .4em;
    // flex-grow: 1;
}
.comment_title {
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment_text {
    height: 30px;
}




.btn-number{
    width: var(--bar-height);
  }