<div class="container-xl">
    <div class="col-md-6 m-auto">
        <div class="card text-dark bg-light mb-2">
            <h1 class="text-center mt-3">Login</h1>
            <form>
                <div class="mb-3 p-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 p-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary mx-3">Submit</button>
                <p class=" mt-4 mx-3">If you don't have an account yet ->   <a class="btn btn-primary" href="#">Register</a></p>
            </form>
            <br>
            <div></div>
            
        </div>
    </div>
</div>
