* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 1% 20px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: .5px solid silver;
  border-left: none;
}

.user_name,
.user_email {
  height: 20px;
  flex: 50%;
  text-align: left;
  // overflow: hidden;
  padding: .5em;
  border: 1px solid red;
  -webkit-touch-callout:none ;
  -webkit-text-size-adjust:none ;
  -webkit-tap-highlight-color:transparent ;
  -webkit-user-select:none ;
  user-select: none;
}

.user_container:hover{
    background-color: silver;
}

