.info-wrapper {
  height: 200px;
  width: 45vw;
  margin-left: 20px;
  border-style: ridge;
}

ul {
  list-style: none;
}

@media screen and (max-width: 622px) {
  .info-wrapper {
    width: 280px;
  }
}

@media screen and (min-width: 950px) {
  .info-wrapper {
    width: 425px;
  }
}
