.container {
  background-color: #edf1f5;
  color: black;
  height: 100%;
  display: flex;
}

h2 {
  padding: 10px 0;
  text-decoration: underline;
  margin-left: 50px;
}

ul {
  padding-left: 65px;
  list-style: none;
  font-size: 20px;
}
