.info-wrapper {
  position: fixed;
  height: 200px;
  width: 425px;
  border-style: ridge;
}

ul {
  list-style: none;
}

@media screen and (max-width: 475px) {
  .info-wrapper {
    margin-left: 20px;
  }
}
