<div class="admin_container">
  <h1 class="page_title">User Manager</h1>
  <div class="usermanager_container">
    <!-- left part -->
    <div class="userlist_container">
      <div class="userlist_title_container">
        <p class="userlist_title_name"><strong>Full Name</strong></p>
        <p class="userlist_title_email"><strong> Email </strong></p>
      </div>

      <div class="userlist_list_container">
        <app-userlist
          *ngFor="let user of userlist"
          [userinfo]="user"
          [ngStyle]="{
            'background-color': user.id === FocusId ? 'lightcyan' : '',
            'border-left': user.id === FocusId ? '8px solid cyan' : 'none'
          }"
          class="user_container"
          (userDeleteEmiter)="deleteUser($event)"
        ></app-userlist>
      </div>

      <div class="user_addbutton_container">
        <button class="user_addbutton" (click)="oppenaddForm()">
          -- Add User --
        </button>
      </div>
    </div>

    <!-- right part -->
    <div class="userinfo_container">
      <app-userinfo class="userinfo"></app-userinfo>
    </div>
  </div>
</div>

<div class="addUser_container" [ngStyle]="{ display: addFormStyle }">
  <div class="addUser_Close_btn">
    <div></div>
    <button (click)="closeaddForm()">X</button>
  </div>

  <div class="addUser_Form_container">
    <form
      #myForm="ngForm"
      (ngSubmit)="addUser(myForm.value)"
      class="addUser_Form"
    >
      <div>
        <input ngModel name="name" type="text" />
      </div>
      <div><input ngModel name="email" type="email" /></div>
      <div><input ngModel name="mobile" type="number" /></div>
      <div ngModelGroup="passwordInfo">
        <div><input ngModel name="password" type="password" /></div>
        <div>
          <input ngModel name="passwordComfirm" type="password" />
        </div>
      </div>
      <button type="submit"></button>
    </form>
  </div>
</div>
