:host {
    background-color: white;
    background: white;
}
.admin_container{

    display: flex;
    height: 500px;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}



.detail_container {
    width: 400px;
    margin: 0%;
    padding: 8%;
    //width: 350px;
    background: var(--color-yellowgreen-main);
}
