<div class="container">
    <form action="#">
        <img src="./../../../../assets/images/ANTRA_Tech.jpg" alt="logo">
        <label for="userName"></label>
        <input type="text" name="userName" placeholder="UserName">
        <label for="password"></label>
        <input type="text" name="password" placeholder="Password">
        <button type="submit">Login</button>
        <a href="#">No Accounts? Register Now!</a>
        <div class="formFooter">
            <div class="agreement">
                <input type="checkbox" name="agreement" id=""><label for="agreement">Agreement</label>
            </div>
            <a href="#">Need Help?</a>
        </div>
    </form>
</div>