<div class="container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate >
                <img src="./assets/images/ANTRA_Tech.jpg" alt="logo">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput maxlength="50" formControlName="usernameVal" />
                    <mat-error
                        *ngIf="!usernameVal?.valid && (usernameVal?.dirty || usernameVal?.touched)"
                        class="error"
                    >
                        <div *ngIf="usernameVal?.errors?.['required']">
                        Username is required!</div>
                        <div *ngIf="usernameVal?.errors?.['minlength']">
                        The username should be at least 5 characters!
                        </div>
                        <div *ngIf="usernameVal?.errors?.['maxlength']">
                        The username should be no more than 16 characters!
                        </div>
                    </mat-error>
                </mat-form-field>
            

                <mat-form-field appearance="fill">
                    <mat-label>Paassword</mat-label>
                    <input matInput maxlength="50" formControlName="passwordVal"/>
                    <mat-error
                        *ngIf="!passwordVal?.valid && (passwordVal?.dirty || passwordVal?.touched)"
                        class="error"
                    >
                        <div *ngIf="passwordVal?.errors?.['required']">
                            Password is required!</div>
                        <div *ngIf="passwordVal?.errors?.['minlength']">
                            Min length (5) required
                        </div>
                        <div *ngIf="passwordVal?.errors?.['pattern']">
                            (1) uppercase and (1) special character (#?!@$%^&*) required
                        </div>
                    </mat-error>
                </mat-form-field>

                <button class="button loginBtn" type="submit"  [disabled]="!loginForm.valid">Login</button>

                <a href="/register">No Accounts? Register Now!</a>
                <div class="formFooter">
                    <div class="agreement">
                        <input type="checkbox" name="agreement" id=""><label for="agreement">Agreement</label>
                    </div>
                    <a href="#">Need Help?</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>