.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 378px;
  background-color: #edf1f5;
}

mat-card {
  border: solid #3f51b5;
  background-color: #fafafa;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  row-gap: 10px;
}

img {
  align-self: center;
  width: 200px;
}

.login-button {
  align-self: center;
  width: 40%;
  margin: 15px 0 40px 0;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.register-link {
  text-align: center;
  margin-bottom: 10px;
}
