.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
  }

.contentArea{
    min-height: 1000px;
    max-height: 1980px;
}

.contentArea-sideBar_ul{
    margin-block-start: 0;
    padding-inline-start: 0px;
}