.container{
    display: flex;
    flex-direction: column;
}
.container-input{
    font-size: var(--font-btn-size);
    display: flex;
    justify-content: flex-start;

}
.container-input-label{
    width: 70px;
    margin-right: 20px;
}