span {
    overflow: hidden;
  }

.item_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.item_card:hover {
  background-color: lightpink;
  cursor: pointer;
}