<div *ngFor="let story of stories">
  <mat-card class="story">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url({{story.content.image}})"></div>
      <mat-card-title>{{story.publisherName}}</mat-card-title>
      <mat-card-subtitle>Published time: {{story.publishedTime}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{story.content.text}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button (click)="onDeleteBtn(story)"> Remove </button>
    </mat-card-actions>
  </mat-card>
</div>