

ul {
    height: 400px;
    width: 200px;
    overflow: auto;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
  }

  ul .user_item {
    display: flex;
    justify-content: space-between;
  }

  ul .user_item:hover {
    background-color: grey;
  }
