:host {
  background: white;
}

ul {
    margin: 0%;
    padding: 5%;
    height: 400px;
    width: 300px;
    overflow: auto;
    background: white;
  }

  ul .user_item {
    margin: 0%;
    height: 100px;
  }

 
