<h1 [ngStyle]="{color: color}">{{title}}</h1>

<div class="container">
    <div class="holder" *ngFor="let contents of content" [ngStyle]="{
      boxShadow: contents.id === id ? '5px 5px 5px ' + contents.color : 'none',
      border: contents.id === id ? '2px solid ' + contents.color : 'none'
    }">
        <h3>{{contents.title}}</h3>
        <p>{{contents.paragraph}}</p>
        <button [ngStyle]="{backgroundColor: contents.color}" (click)="clickChangeColor(contents)">Set
            {{contents.color}}</button>
    </div>
</div>