<div class="app-container">
  <div class="list-container">
    <ul>
      <div class="header">
        <strong>My Dictionary</strong>
        <button mat-icon-button matTooltip="Add New Note" (click)="onAdd()">
          <mat-icon>note_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Reset Cloud" (click)="onCloud()">
          <mat-icon>cloud_off</mat-icon>
        </button>
      </div>
      <li *ngFor="let note of noteList; let i = index" (click)="onClick(i)">
        {{ note.title }}
        <button mat-icon-button>
          <mat-icon (click)="onDelete(i)">delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
  <app-content
    [note]="selected"
    [index]="indexBase"
    (sendNote)="onSave($event)"
  ></app-content>
</div>
