.app-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.list-container {
  width: 50%;
  background-color: grey;
}

app-content {
  width: 50%;
}

ul {
  margin: 10px 20px;
  line-height: 50px;
  font-size: 25px;
  cursor: default;
}

li {
  cursor: pointer;
}

button {
  float: right;
  margin-top: 5px;
  color: red;
  cursor: pointer;
}

ul > button {
  color: white;
}
