<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!--  useremail -->
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="UserEmail"
            id="useremail"
            formControlName="useremail"
          />
        </mat-form-field>
      </div>

      <!-- useremail validate -->

      <ul
        *ngIf="form.invalid && (useremail?.dirty || useremail?.touched)"
        class="invalid"
      >
        <li *ngIf="useremail?.errors?.['required']">useremail is required!</li>
        <li *ngIf="useremail?.errors?.['minlength']">
          useremail should be at least 5 characters long.
        </li>
        <li *ngIf="useremail?.errors?.['maxlength']">
          useremail should be no longer than 30 characters long.
        </li>
      </ul>

      <!--  password -->
      <div>
        <mat-form-field>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            placeholder="Password"
            id="password"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- password validate -->
      <ul
        *ngIf="form.invalid && (password?.dirty || password?.touched)"
        class="invalid"
      >
        <li *ngIf="password?.errors?.['required']">Password is required!</li>
        <li *ngIf="password?.invalid && !password?.errors?.['required']">
          Password format invalid!
          <ul>
            <li *ngIf="password?.errors?.['minlength']">
              Password must be at least 5 characters long.
            </li>
            <li *ngIf="password?.errors?.['maxlength']">
              Password should be no longer than 16 characters long.
            </li>
            <li *ngIf="password?.errors?.['specialLeter']">
              Password should contains at least 1 special character.
            </li>
          </ul>
        </li>
      </ul>

      <!-- button -->
      <div class="button">
        <div>
          <label for="registerbtn">Don't have account?</label>
          <button
            id="registerbtn"
            type="button"
            mat-button
            (click)="onRegister()"
          >
            Sign Up
          </button>
        </div>

        <button id="loginbtn" type="submit" mat-button>
          Login
        </button>
        <!-- [disabled]="!form.valid" -->
      </div>
    </form>
  </mat-card-content>
</mat-card>
