<div>
    <nz-layout class="contentArea">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzClose nzIcon="user" nzTitle="User List">
            <ul class="contentArea-sideBar_ul">
              <li nz-menu-item *ngFor="let user of userlist" (mousedown)="selectUser(user)">
                {{user}}
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <div *ngIf="selected">
          <nz-content>
            <app-userdetail [user]="selectedUser"></app-userdetail>
          </nz-content>
        </div>
      </nz-layout>
    </nz-layout>
    <nz-footer></nz-footer>
</div>