* {
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    padding: 10px;
    box-shadow: 6px 6px 6px 0 black;
    border-radius: 3px;
    width: 580px;
}

.post-container {
    display: flex; 
    flex-direction: column; 
    row-gap: 10px; 
    margin-bottom: 10px;
}

.post-container>:first-child {
    border: transparent
}

img {
    border: 1px solid black;
    width: 65px;
    height: 65px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    color: white;
    border: transparent;
    border-radius: 3px;
    padding: 5px;
    background-color: #273c75;
}