* { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:host{
    //position: fixed;
    width: 100vw;
    height: 100vh; 
    --color-green-background: #F8FBF6;
    --color-yellowgreen-main: #D7DBD6;
    --color-grey-hover: lightgray;

}
body {
    background: var(--color-green-background);
   
}
.root_container {
    // height:  100vh; 
    // width: 700px;
    height:  auto; 
    width: 100%;
    background: var(--color-green-background);
}

.main_container{
    // width: 60%;
    // height: 50%;
    margin-left:15%;
    margin-right:15%;
}


