<div class="root_container">
    <header>
        <button mat-flat-button color="primary">Admin</button>
    </header>
    <div>
        <app-admin-page></app-admin-page>
    </div>
    
    <footer>
        <div>
            <button mat-flat-button color="primary">Profile</button>
        </div>
       
        <div>
            <button mat-flat-button color="primary">News Feed</button>
        </div>
        
        <div>
            <button mat-flat-button color="primary">Settings</button>
        </div>
    </footer>
</div>
