
<div class="header">
  <div></div>
  <button (click)="onClick()"><mat-icon>favorite</mat-icon></button>
</div>

<!-- likelist -->
<div
  class="likelist_container"
  [ngStyle]="{ display: liststatus ? 'block' : 'none' }"
>
  <H1>Like List</H1>
  <app-likelist
    class="likelist"
    *ngFor="let story of likedStories"
    [story]="story"
    (likelistEmiter)="onListRemove($event)"
  ></app-likelist>
</div>

<div class="news_container">
  <!-- post -->
  <div class="post_container">
    <app-poststory class="post"></app-poststory>
  </div>

  <!-- container -->
  <div class="story_container">
    <app-showstory
      class="story"
      *ngFor="let story of newslist"
      [story]="story"
      (showstoryEmitter)="onShowUpdate($event)"
    >
    </app-showstory>
  </div>
</div>
