* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 3rem;
  display: flex;
  align-items: center;
}

.header div {
  flex-grow: 1;
}

.header button {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  flex-grow: 0;
  background-color: white;
  border: 1px solid red;
  padding-top: 4px;
  color: red;
  z-index: 0;
}

.news_container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem - 20px);
  width: 100%;
}

.likelist_container {
  border-radius: 1rem;
  padding: 1rem;
  position: fixed;
  right: 25px;
  width: 20%;
  background-color:azure;
  color: black;
  // display: block;
  height: calc(100% - 10em);
  z-index: 11;
  overflow-y: scroll;
}

// .post {
//   // width: 100%;
//   // justify-self: center;
//   text-align: center;
//   // border: 1px solid red;
//   height: 300px;
//   flex-grow: 0;
//   padding: 1%;
// }

// .post div {
//   margin: 15px;
// }

// .post button {
//   width: 5rem;
//   background-color: aquamarine;
//   // border: none;
//   border-radius: 5px;
// }

.story_container {
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 50px;
}


