<div id="userInfoPanel" *ngIf="i > 1">
  <!-- <li *ngFor="let item of DisplayUserDetail | keyvalue: disablePipeSort">
    {{item.key}} : {{item.value || item.value}}
  </li> -->
  <div>
    <li>User Id: <strong>{{DisplayUserDetail.id}}</strong></li>
    <li>Username: <strong>{{DisplayUserDetail.username}}</strong></li>
  </div>
  <div>
    <li>Name: <strong>{{DisplayUserDetail.name}}</strong></li>
    <li>Email: <strong>{{DisplayUserDetail.email}}</strong></li>
    <li>Phone: <strong>{{DisplayUserDetail.phone}}</strong></li>
  </div>
  <div>
    <li>Address: <strong>{{DisplayUserDetail.address.street}},</strong></li>
    <li class="addressLine"><strong>{{DisplayUserDetail.address.suite}},</strong></li>
    <li class="addressLine"><strong>{{DisplayUserDetail.address.city}}, {{DisplayUserDetail.address.zipcode}}</strong></li>
  </div>
  <div>
    <li>Geographic Coordinates: <strong>{{DisplayUserDetail.address.geo.lat}} /  {{DisplayUserDetail.address.geo.lng}}</strong></li>
  </div>
  <div>
    <li>Website: <strong>{{DisplayUserDetail.website}}</strong></li>
    <li>Company: <strong>{{DisplayUserDetail.company.name}}</strong></li>
    <li>Slogan: <strong>{{DisplayUserDetail.company.catchPhrase}}</strong></li>
    <li>Sector: <strong>{{DisplayUserDetail.company.bs}}</strong></li>
  </div>
</div>
