<div class="register-form-wrap">
  <h3 class="title">Register</h3>
  <form nz-form [formGroup]="registerForm" class="login-form" (ngSubmit)="onSubmit()">
    <!-- Username -->
    <nz-form-item>
      <nz-form-control nzHasFeedback nzErrorTip="Username must have 5 - 12 characters">
        <nz-input-group [nzSize]="'large'">
          <input type="text" nz-input formControlName="username" placeholder="Username" />
        </nz-input-group>
        <div *ngIf="!username?.valid && (username?.dirty || username?.touched)">
          <div *ngIf="username?.errors?.['required']">please enter a user name</div>
          <div *ngIf="username?.errors?.hasuser">Username has been used, pls use another username</div>
          <!-- <div *ngIf="!email?.errors?.invalidAsync">you can use this email</div> -->
        </div>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzSize]="'large'">
          <input type="email" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">please enter email</div>
            <div *ngIf="email?.errors?.['email']">please enter a valid email</div>
            <div *ngIf="email?.errors?.hasuser">Email has been used, pls use another email</div>
          </div>
      </nz-form-control>
    </nz-form-item>
    <!-- Password -->
    <nz-form-item>
      <nz-form-control nzHasFeedback
        nzErrorTip="Password must have a minimum 5 characters including at least one uppercase letter and one special character.">
        <nz-input-group [nzSize]="'large'">
          <input type="text" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Confirm Password -->
    <nz-form-item>
      <nz-form-control nzHasFeedback nzErrorTip="Passwords must match!">
        <nz-input-group [nzSize]="'large'">
          <input type="text" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- Register Button -->
    <div nz-row class="login-form-margin" nzAlign="middle" nzJustify="space-between">
      <div nz-col [nzSpan]="12">
        <button [disabled]="!registerForm.valid" nz-button nzSize="large" class="login-form-button login-form-margin"
          [nzType]="'primary'">Register</button>
      </div>
      <div class="text-right" nz-col [nzSpan]="9">
        <a class="password-login" routerLink="/login/login-form">Go To Login</a>
      </div>
    </div>
    <!-- Registration Success Message -->
    <br>
    <div *ngIf="showMessage" [ngStyle]="{color: 'green'}">Registration Successful!</div>
  </form>
</div>