<div class="register-form-wrap">
    <h3 class="title">Register</h3>
    <form nz-form [formGroup]="registerForm" class="login-form" (ngSubmit)="onSubmit()">
<!-- Username -->
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="usernameErrorTpl" nzValidatingTip="Validating..." nzSuccessTip="Username is available!">
          <nz-input-group [nzSize]="'large'">
            <input type="text" nz-input formControlName="username" placeholder="Username"/>
          </nz-input-group>
          <ng-template #usernameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Username is required</ng-container>
            <ng-container *ngIf="control.errors.minlength || control.errors.maxlength">Username must have 5 - 12 characters</ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">This username is already registered</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
<!-- Email -->
<nz-form-item>
  <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl" nzValidatingTip="Validating..." nzSuccessTip="Email accepted!">
    <nz-input-group [nzSize]="'large'">
      <input type="email" nz-input formControlName="email" placeholder="Email"/>
    </nz-input-group>
    <ng-template #emailErrorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Email is required</ng-container>
      <ng-container *ngIf="control.errors.email">Not a valid format</ng-container>
      <ng-container *ngIf="control.hasError('duplicated')">This email is already registered</ng-container>
    </ng-template>
  </nz-form-control>
</nz-form-item>
<!-- Password -->
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Password must have a minimum 5 characters including at least one uppercase letter and one special character or number.">
          <nz-input-group [nzSize]="'large'">
            <input type="password" nz-input formControlName="password" placeholder="Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
<!-- Confirm Password -->
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Passwords must match!">
          <nz-input-group [nzSize]="'large'">
            <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
<!-- Register Button -->
      <div nz-row class="login-form-margin" nzAlign="middle" nzJustify="space-between">
        <div nz-col [nzSpan]="12">
          <button [disabled]="!registerForm.valid" nz-button nzSize="large" class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
        </div>
        <div class="text-right" nz-col [nzSpan]="9">
          <a class="password-login" routerLink="/login/login-form">Go To Login</a>
        </div>
      </div>
<!-- onSubmit Message -->
  <br>
  <div *ngIf="successMessage != ''" [ngStyle]="{color: 'green'}">{{successMessage}}</div>
  <div *ngIf="errorMessage != ''" [ngStyle]="{color: 'red'}">{{errorMessage}}</div>
  </form>
</div>