<div class="content">
                   
    <form>
        <input type="text" id="firstname" name="firstname" placeholder="First Name">
        <input type="text" id="lastname" name="lastname" placeholder="Last Name"><br>

        <input type="email" class="fullwidth" id="phone" name="phone" placeholder="Mobile Number"><br>
        <input type="tel" class="fullwidth" id="emailaddress" name="emailaddress" placeholder="Email Address"><br>

        <input type="password" id="passwd" name="passwd" placeholder="Password">
        <input type="password" id="confirmpasswd" name="confirmpasswd" placeholder="Confirm Password"><br>

        <p>By Clicking Register, you agree to the <a href="" >Terms and Conditions</a><br>set out by this website, including our Cookie use</p>

        <input type="checkbox" id="consent" name="consent" value="agree">
        <label for="consent">I agree</label> <br>

        <button class="button button1">Register</button>
        <button class="button button2" type="submit">Sign In</button>
    </form>
</div>