.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.fullwidth {
    width: 647px;
    padding: 12px 8px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 6px;
    margin-right: 20px;
    border-width: 0.5px;
}

input[type=text],input[type=email],input[type=password] {
    padding: 12px 8px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 300px;
    margin: 6px;
    margin-right: 20px;
    border-width: 0.5px;
}

input[type=checkbox],p {
    margin: 6px;
}

input:focus {
    outline-color: #2979b6;
}


h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    /* margin-left: 45%; */
}

a {
    color: #39b1e9;
}

.button {
    border: none;
    color: white;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    width: 317px;
    margin: 6px;
    margin-right: 20px;
    cursor: pointer;
}

.button1 {
    background-color: #39b1e9;
}

.button1:hover {
    background-color: #309bcc;
}

.button2 {
    background-color: #1bc540;
}

.button2:hover {
    background-color: #19ac39;
}