<h1>User Detailed Info Panel</h1>
<div class="userinfo_container">
    <p class="user_name" aria-multiselectable="false">{{ "UserName: " + userinfo.name }}</p> 
    <p class="user_name" aria-multiselectable="false">{{ "Phone: " + userinfo.phone }}</p> 
    <p class="user_name" aria-multiselectable="false">{{ "Email: " + userinfo.email }}</p> 
    <p class="user_name" aria-multiselectable="false">{{ "Username: " + userinfo.username }}</p> 
    <p class="user_name" aria-multiselectable="false">{{ "Website: " + userinfo.website }}</p> 
</div>
