ul {
  //overflow-y:hidden;
}
.content {
  display:flex;
  flex-direction: column;
}
.media {
  margin: 1%;
}
.mediapic {
  margin-left: auto;
}
img {
  height:50px;
  width: 50px;

}
.pagecontainer{
  text-align: center;
  align-items: center;
  //width: 100%;
  height: 60;
}

button {

  background-color: white;
}
.pagination li {
  display: inline-block;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer; 
}

.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination li a:hover:not(.active) {background-color: #ddd;}
.commentblock{
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  list-style: none;
  background-color: #D7DBD6;

}

.commentcontainer {
  height: 500px;
}

.wholecontent {
  display: flex;
}
