<h2>Comments:</h2>

<ul class="commentcontainer">
  <li class="commentblock" *ngFor="
      let data of datas.slice(
        records_per_page * current_page - records_per_page,
        records_per_page * current_page
      )
    ">
    <div class="wholecontent">
      <div class="content">
        <p>
          <b>{{ data.publisherName }}</b>__ <i>{{ data.publishedTime | date }}</i>
        </p>
        <div class="media">{{ data.content.text }}</div>
      </div>
      <div class="mediapic"><img src="{{ data.content.image }}" /></div>
    </div>
  </li>
</ul>

<div class="pagecontainer">

  <div class="pagination">

    <li *ngFor="let page of pageArray">
      <a (click)="setPage(page)"
      [ngStyle]="{'background-color': page === current_page ? 'lightgrey' : 'transparent'}"
      >{{page}}</a>
    </li>

  </div>

</div>
