header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100vw;
  background-color: black;
}

h1 {
  color: white;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100vw;
}
