.cards {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.blue {
  border-radius: 5px;
  outline: 2px solid blue;
  box-shadow: 3px 3px 2px 2px blue;
}

.black {
  border-radius: 5px;
  outline: 2px solid black;
  box-shadow: 3px 3px 2px 2px black;
}

.red {
  border-radius: 5px;
  outline: 2px solid red;
  box-shadow: 3px 3px 2px 2px red;
}

.green {
  border-radius: 5px;
  outline: 2px solid green;
  box-shadow: 3px 3px 2px 2px green;
}

button {
  padding: 10px 15px;
  color: white;
  background-color: blue;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}