#adminPageContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 20rem 50rem;
  grid-template-rows: 92vh;
}

#userList {
  //background-color: black;
  display: flex;
  flex-direction: column;
}

#matIconContainer {
  background-color: transparent;
  border: none;
}

#matIconContainer:hover {
  transform: scale(1.1);
}

#matIconContainer:active {
  transform: scale(0.9);
}

li {
  //color: white;
  //background-color: black;
  height: 2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-left: 2rem;
  margin: 0;
  font-size: 1.5rem;
}

mat-icon {
  color: white;
}

li:last-of-type {
  margin: 2rem;
  justify-content: center;
  //background-color: white;
  color: black;
  border: 1px solid;
  border-radius: 0.25rem;
}

li:hover {
  background-color: black;
  color: white;
  cursor:pointer;
}

li:last-of-type:active {
  opacity: 80%;
  transform: scale(0.98);
}

li > button {
  //background-color: white;
  font-size: 1.5rem;
}

mat-sidenav {
  width: 20rem;
  border-right: 1px solid;
}

mat-sidenav-content {
  width: 50rem;
}