#adminPageContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20rem 50rem;
}

#userList {
  background-color: lightgray;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#matIconContainer {
  background-color: transparent;
  border: none;
}

#matIconContainer:hover {
  transform: scale(1.1);
}

#matIconContainer:active {
  transform: scale(0.9);
}

li {
  height: 2rem;
  background-color: gray;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

li:last-of-type {
  margin-top: 1rem;
  justify-content: center;
  background-color: green;
  border-radius: 0.25rem;
}

li:hover {
  opacity: 80%;
}

li:last-of-type:active {
  opacity: 80%;
  transform: scale(0.98);
}