<main>
    <div class="storyList">
        <!-- Liked-List button -->
        <app-like-list 
        [likedStories]="likedStories"
        (likedStoriesEmitter)="onUpdateLikedStories($event)"></app-like-list>

        <!-- Post New story form -->
        <app-post-new-story (storyEmitter)="onUpdateNewStory($event)"></app-post-new-story>

        <!-- Story Card component to be rendered as many times as there are stories-->
        <app-story-card *ngFor="let story of newsList" 
        [likedStories]="likedStories"
        [story]="story" (likedStoryEmitter)="onLike($event)"></app-story-card>
        
    </div>
    
    
</main>