* {
    box-sizing: border-box;
}

main {
    display: flex;
    height: calc(100vh - 113px);
    /* margin-top: 75px; */
    width: 100%;
    border: 1px solid black;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    padding-top: 20px;
}

.storyList {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    padding: 20px;
    margin-left: 100px;
    overflow-y:auto;
}