<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-pix" title="Profile Picture"></div>
    <mat-form-field appearance="standard">
      <textarea matInput id="post-textarea" maxlength="280" placeholder="What's happening?"></textarea>
    </mat-form-field>
  </mat-card-header>
  <mat-card-actions>
    <button id="image-btn" mat-icon-button color="primary" aria-label="image icon">
      <mat-icon>image</mat-icon>
    </button>
    <button id="post-btn" mat-icon-button color="primary" aria-label="post icon">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>