.modalContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 45%;
}

.pagination {
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 1rem;
}

.btn {
    background-color: #f3f3f3;
}

#postComment {
    width: 80%;
    height: 100px;
}

.form {
    display: flex;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: lightblue;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(94, 94, 94);
    font-weight: bold;
    font-size: 18px;
}

.comment-text {
    word-break: break-word;
}

.delete-btn:hover {
    cursor: pointer;
}
