.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  min-width: 532px;
  background-color: #edf1f5;
}

mat-card {
  height: 345px;
  width: 500px;
}

#backdrop {
  background-image: url("src/assets/images/plant.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 345px;
  width: 500px;
}

.logout-button {
  height: 10%;
  width: 30%;
  margin: 0 30px 30px 0;
}
