<header>
  <button mat-raised-button color="accent" (click)="onClick()">
    Like List
  </button>
</header>
<app-likelist [ngClass]="{ toggle: status === true }"></app-likelist>
<div class="container">
  <app-post></app-post>
  <mat-card class="profile-card" *ngFor="let story of news$ | async">
    <mat-card-header>
      <div mat-card-avatar class="profile-pix" title="Profile Picture"></div>
      <div class="profile-header">
        <mat-card-title>{{ story.publisherName }}</mat-card-title>
        <mat-card-subtitle>{{ story.publishedTime | date : 'short' }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{ story.content.text }}</p>
      <img mat-card-image [src]="story.content.image" alt="post image"
        onerror="this.onerror=null;this.src='assets/images/error_404.png';" />
    </mat-card-content>
    <mat-card-actions>
      <button id=" comment-button" class mat-icon-button color="primary" aria-label="comment icon">
        <mat-icon>rate_review</mat-icon>
        <span id="comment-label">{{ story.comment.length }}</span>
      </button>
      <button mat-icon-button color="accent" aria-label="favorite icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<footer>
  <button>My Profile</button>
  <button>News Feed</button>
  <button>Settings</button>
</footer>