body{
  overflow: hidden;
}
.container{
  padding-bottom: 40px;

}

.div-like {
  width:95%;
  margin: 0 var(--bar-size);
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: flex-end;
  position: fixed;
}
.btn-liked-list {
  color: var(--button-font-color);
  font-size: var(--font-btn-size);
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-right: 6%;
  background-color: inherit;
}
.btn-liked-list:hover{
  color: var(--button-hover-color);
}
.form {
  padding-top: 90px;
}
h1 {
  text-align: center;
  cursor: pointer;
}
