<div class="div-like">
  <!-- <a href="" class="liked-list"> Like List</a> -->
  <button class="btn-liked-list" (click)="onClickLike()">
    Like List
  </button>
</div>
<div class="form">
  <h1>Post News Feed Form</h1>
  <form
  class="input-group"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  
  autocomplete="off">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>What is on your mind?</mat-label>

    <textarea matInput formControlName="postContent" placeholder="Ex. It makes me feel..."></textarea>

    <button mat-raised-button color="primary" type="submit">Post</button>

  </mat-form-field>
</form>
</div>
<div class="container">
  <app-story *ngFor="let story of stories" [inStory]="story"></app-story>
</div>

