/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  background-color: #323642;
  font-family: "Comfortaa", cursive;
  color: white;
}

body {
  margin: 0px;
  padding: 0px;
}
