<div>
    <div>ID: {{userinfo.id}}</div>
    <div>name: {{userinfo.name}}</div>
    <div>username: {{userinfo.username}}</div>
    <div>email: {{userinfo.email}}</div>
    <div>phone: {{userinfo.phone}}</div>
    <div>website: {{userinfo.website}}</div>
    <div>Company name: {{userinfo.company.name}}</div>
    <div>Company bs: {{userinfo.company.bs}}</div>
    <div>Company catchPhrase: {{userinfo.company.catchPhrase}}</div>
    <div>Address: city: {{userinfo.address.city}}</div>
    <div>         street: {{userinfo.address.street}}</div>
</div>
