<h1>Register Account</h1>
<div class="main-container">                
    <form>
        <input type="text" id="firstname" name="firstname" placeholder="First Name">
        <input type="text" id="lastname" name="lastname" placeholder="Last Name"><br>

        <input type="tel" class="phone" placeholder="Phone"><br>
        <input type="email" class="fullwidth" id="emailaddress" name="emailaddress" placeholder="Email Address"><br>

        <input type="password" id="passwd" name="passwd" placeholder="Password">
        <input type="password" id="confirmpasswd" name="confirmpasswd" placeholder="Confirm Password"><br>

        <button class="register-button">Register</button>
        <p>Have an account?? <a href="">Log In</a> instead</p>
    </form>
</div>