<!-- <app-customdirective></app-customdirective> -->

<app-ngfortrackby></app-ngfortrackby>

<!-- <button [disabled]="false">test</button>

<div *ngIf="false">This is shown if condition is true</div> -->

<!-- <div *ngIf="true; else elseBlock" [ngClass]="{}">
  content to render, when the condition is true
</div>

<ng-template #elseBlock>
  content to render, when the condition is false
</ng-template> -->

<!-- <ng-container *ngIf="true">
  <div *ngFor="let num of nums">1212122</div>
</ng-container> -->

<!-- <p colorDirective>test the directive in app.component</p> -->
