<div class = "cardContainer">
<nz-card class = "cardContainer_cards" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
    <nz-card-meta
      nzTitle= {{news.publisherName}}
      nzDescription={{news.content.text}}
      [nzAvatar]="avatarTemplate"
    ></nz-card-meta>
  </nz-card>

  <ng-template #avatarTemplate>
    <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  </ng-template>

  <ng-template #coverTemplate>
    <img alt="example" src={{news.content.image}} />
  </ng-template>

  <ng-template #actionSetting>
    <i nz-icon nzType="setting"></i>
  </ng-template>

  <ng-template #actionEdit>
    <i nz-icon (click)="showModal()" nzType="edit">{{news.comment.length}} </i>
  </ng-template>

  <!-- Comment Popup Start -->

  <!-- <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="COMMENTS" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>

      <div ngClass="commentContainer" *ngFor="let item of news.comment">
        {{item.publishedTime | date: 'short'}}
        <nz-card-meta
        nzTitle = {{item.publisherName}}
        nzDescription = {{item.content.text}}
        [nzAvatar] = "avatarTemplate"></nz-card-meta>
      </div>
    </ng-container>
  </nz-modal> -->

  <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="COMMENTS" (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
      <app-modalContent></app-modalContent>
    </ng-container>
  </nz-modal>

  <!-- Comment Popup Start -->

  <ng-template #actionEllipsis>
      <i *ngIf="like; else filled" nz-icon nzType="like" nzTheme="outline" (click)="addToLike()" ></i>
          <ng-template #filled>
              <i nz-icon nzType="like" nzTheme="fill" (click)="addToLike()"></i>
          </ng-template>
  </ng-template>
</div>