*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardContainer{
    width: 100%;
}

.cardContainer_cards{
    margin-top: 2rem;
    width: 100%;
}

.commentContainer {
    margin-bottom: 2rem;
}