<mat-dialog-content>
    <div class="container" *ngFor="let comment of pageList">
        <div class="userContainer">
            <img src="./assets/images/avatar_placeholder.jpg" alt="" class="userAvatar">
            <div class="user">
                <div>{{ comment.publisherName }} -</div>
                <div>{{ comment.publishedTime | date: 'MMM d HH:mm a'}}</div>
            </div>
        </div>
        <div class="contentContainer">
            <img *ngIf="comment.content.image.includes('https')" src={{comment.content.image}} alt="Image"
                class="contentImg">
            <div class="content">{{ comment.content.text }}</div>
        </div>    
    </div>

    <div class="paginator-container">
        <button
          mat-raised-button
          color="primary"
          [disabled]="prevBtnDisabled"
          (click)="onPrev()"
        >
          < Prev
        </button>
        <div>
          <strong>{{ currentPage }}</strong> of <strong>{{ pageSize }}</strong>
        </div>
        <button
          mat-raised-button
          color="primary"
          [disabled]="nextBtnDisabled"
          (click)="onNext()"
        >
          Next >
        </button>

        <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator> -->

    </div>

</mat-dialog-content>