#outerContainer {
  display: grid;
  grid-template-columns: 50vw 50vw;
  background-color: darkgray;
  height: 100vh;

  #notelistContainer {
    padding: 1rem;
  }

  #heading, #notelist {
    display: flex;
    justify-content: space-between;

  }
  h1:hover {
    cursor: pointer;
    transform: scale(0.95);
  }

  h1:active {
    transform: scale(0.9);
  }
}