ul {
    width: 500px;
    height: 600px;
    overflow-y:hidden;
  }
  .content {
    display:flex;
  }
  .media {
    margin: 1%;
  }
  .commentcontainer{
    text-align: center;
    align-items: center;
  }
  li {
  
    border: solid black 1px;
    margin: 20px;
    padding: 10px;
    list-style: none;
  }
  button {
    border-radius: 10px;
    background-color: white;
  }