.comment-container {
    height:200px;
    width: 250px;
    // background-color: #D7DBD6;
    padding: 0%;
    margin: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;    
}

img {
    height: 100px;
    width: 200px;
    border: solid black 1px;
    margin-left: 2vw;
}
mat-card-title {
    width: 100%;
}