.contextsinfor_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // margin: 10px;
}
.container {
  width: 48%;
  margin: 1%;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
@media (max-width: 600px) {
  .contextsinfor_container {
    flex-direction: column;
  }
  .container {
    width: 98%;
    margin: 1%;
  }
}
