<h1 [ngStyle]="{ color: titleColor, 'text-align': 'center' }">
  <strong>
    More than 900 Mayo Clinic staff members diagnosed with Covid-19 in Midwest
    over two weeks
  </strong>
</h1>

<div class="contextsinfor_container">
  <app-context-container
    *ngFor="let context of contextsInfo"
    [contextinfo]="context"
    [ngStyle]="{
      border:
        titleColor === context.color
          ? '2px solid ' + context.color
          : '2px solid transparent',
      'border-radius': '10px',
      'box-shadow':
        titleColor === context.color ? '5px 5px 2px ' + context.color : ''
    }"
    class="container"
    (getcontextcolor)="getcolor($event)"
  >
  </app-context-container>
</div>
