* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .user_container {
    width: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .user_fullname,
  .user_username {
    flex: 50%;
    text-align: left;
    padding: .75rem 0.55rem;
  }
  
  
  @media (max-width: 840px) {
    .user_name{
      flex: 100%;
    }
    .user_username{
      display: none;
    }
  }