<h1 [ngStyle]="{ color: header }">
  More than 900 Mayo Clinic staff members diagnosed with Covid-19 in Midwest
  over two weeks
</h1>
<main>
  <div class="article blue" [ngClass]="{ toggle: header === 'blue' }">
    <h2>
      Wisconsin Democratic election official: Don't water Trump's 'plant of
      baloney'
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corrupti
      aliquid vel totam eveniet dicta, et quos ratione suscipit consequuntur id
      saepe unde voluptas magnam. Totam similique quas eveniet delectus.
    </p>
    <button (click)="color('blue')">Set blue</button>
  </div>
  <div class="article black" [ngClass]="{ toggle: header === 'black' }">
    <h2>Current and former Trump officials quietly reach out to Biden team</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corrupti
      aliquid vel totam eveniet dicta, et quos ratione suscipit consequuntur id
      saepe unde voluptas magnam. Totam similique quas eveniet delectus.
    </p>
    <button (click)="color('black')">Set black</button>
  </div>
  <div class="article red" [ngClass]="{ toggle: header === 'red' }">
    <h2>Republicans need to decide whether they believe in democracy</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corrupti
      aliquid vel totam eveniet dicta, et quos ratione suscipit consequuntur id
      saepe unde voluptas magnam. Totam similique quas eveniet delectus.
    </p>
    <button (click)="color('red')">Set red</button>
  </div>
  <div class="article green" [ngClass]="{ toggle: header === 'green' }">
    <h2>Republicans need to decide whether they believe in democracy</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corrupti
      aliquid vel totam eveniet dicta, et quos ratione suscipit consequuntur id
      saepe unde voluptas magnam. Totam similique quas eveniet delectus.
    </p>
    <button (click)="color('green')">Set green</button>
  </div>
</main>
