<mat-sidenav-container class="example-container">
    <div class="holder">
        <app-userlist mat-sidenav mode="side" opened *ngFor="let user of userlist" [userinfo]="user"
            (deleteEmiter)="deleteUser($event)" (userinfoEmiter)="getInfo($event)">
        </app-userlist>
    </div>
    <button mat-stroked-button color="primary">Add User</button>

    <div class="info">
        <app-info *ngFor="let user of userlist" 
            [userinfo]="user"
            [ngStyle]="{
                'display': user.id === userid ?'block' : 'none'
                }">
        </app-info>
    </div>



</mat-sidenav-container>