.example-container{
    display:flex;
    justify-content: space-between;
    flex-direction: column;

}

.info{
    width: 300px;
    display: flex;
}

.holder{
    display: flex;
    flex-direction: column
}