<mat-card *ngIf="storyItem" class="story-card">
    <mat-card-title-group>
        <mat-card-title>{{storyItem.publisherName}}</mat-card-title>
        <mat-card-subtitle>{{storyItem.publishedTime | date}}</mat-card-subtitle> 
        <button mat-flat-button *ngIf="checkPostOwner()" (click)="deletePost()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-title-group>
    <img mat-card-image src={{storyItem.content.image}}>
    <mat-card-content>
      <p>{{storyItem.content.text}}</p>
    </mat-card-content>
    <mat-card-footer class="buttonContainer">
        <button mat-button (click)="likeClick()">
            <div>Likes</div>
            <mat-icon class="unlike" *ngIf="likeStatus === 'unlike' ? true : false">favorite_border</mat-icon>
            <mat-icon class="like" color="warn" *ngIf="likeStatus === 'like' ? true : false">favorite</mat-icon>
        </button>
        <button class="Dialog-Container" mat-button (click)="onClickComment(storyItem)">
            <div class="number">{{commentLength}}</div>
            <mat-icon class="Dialog-Btn"> comment</mat-icon>
        </button>
    </mat-card-footer>
  </mat-card>
