<div class="main">
  <mat-toolbar class="top-bar" color="primary">
    <span>My Application</span>
    <span class="bar-spacer"></span>
    <button mat-raised-button color="accent" class="admin-button">Admin</button>
  </mat-toolbar>
  <div class="container">
      <div class="list-button-container">
        <mat-list class="user-list">
        <app-user *ngFor="let user of userlist" [user]="user" (userIdEmitter)="deleteUser($event); isInfoClicked($event)"> </app-user>
        </mat-list>
        <button mat-raised-button color="primary" class="add-user-button">Add User Button</button>
        </div>
    <div class="user-info">
      <app-userinfo  *ngIf="this.isInfoVisible" ></app-userinfo>
    </div>
  </div>
  <mat-toolbar class="bottom-bar">
    <button mat-raised-button>My Profile</button>
    <button mat-raised-button>News Feed</button>
    <button mat-raised-button>Settings</button>
  </mat-toolbar>
</div>
