:root {
    --height-header: 60px;
    --height-footer: 60px;
}

.container {
    min-height: calc(100vh - var(--height-header + --height-footer));
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
}

.user-list {
    min-width: 260px;
    height: 100%;
}

.list-button-container {
    display: flex;
    flex-direction: column;
}

.add-user-button {
    position: relative;
    bottom: 0;
}
