<div class="main">
    <mat-toolbar class="top-bar" color="primary">
    <span>My Application</span>
    <span class="bar-spacer"></span>
    <button mat-raised-button color="accent" class="admin-button" >Admin</button>
</mat-toolbar>
<div class="container">
   <mat-list class="user-list" >
        <app-user *ngFor="let user of userlist" [user]="user"> </app-user>
        <mat-list-item class="add-user-button">
            <button mat-raised-button >Add User Button</button>
        </mat-list-item>
   </mat-list>
    <div class="user-info">
        <app-userinfo></app-userinfo>
    </div>
</div>
<mat-toolbar class="bottom-bar">
    <button mat-raised-button>My Profile</button>
    <button mat-raised-button>News Feed</button>
    <button mat-raised-button>Settings</button>
</mat-toolbar>
</div>
