<div class="main-container">

    <div class="upper-container">
        <div class="picture-container">
            <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg" alt="">
            <div class="posts">
                <p><a href="">All Posts</a></p>
            </div>
            <div class="likes">
                <p><a href="">Liked Posts</a></p>
            </div>
        </div>

        <div class="details-container">
            <p>Name</p>
            <p>Username</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Age</p>
            <p>Gender</p>
            <p>Address</p>
        </div>
    </div>
</div>