<div class="main-container">

  <div class="upper-container">
    <div class="picture-container">
      <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_960_720.jpg" alt="">
      <div class="posts">
        <p><a href="">All Posts</a></p>
      </div>
      <div class="likes">
        <p><a href="">Liked Posts</a></p>
      </div>
    </div>

    <div class="details-container">
      <div *ngIf="editstatus">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <!-- <p>Name:<input type="text"></p> -->
          <p><label for="username"> Username: </label>
            <input type="text" id="username" formControlName="username">
          </p>

          <div *ngIf="!username?.valid && (username?.dirty ||username?.touched)" class="error">
            <div [hidden]="!username?.errors?.['required']">
              User Name is required
            </div>
            <div [hidden]="!username?.errors?.['minlength']">
              Min Length is 5
            </div>
            <div [hidden]="!username?.errors?.['maxlength']">
              Max Length is 12
            </div>
          </div>

          <p><label for="email">Email: </label>
            could not be changed</p>
          <p><label for="pswd">Password: </label>
            <input type="text" id="pswd" formControlName="pswd">
          </p>

          <div *ngIf="!pswd?.valid && (pswd?.dirty ||pswd?.touched)" class="error">
            <div [hidden]="!pswd?.errors?.['required']">
              Password is required
            </div>
            <div [hidden]="!pswd?.errors?.['pattern']">
              Password has to be at least 1 Uppercase <br> 1 special character and 5 min length
            </div>
          </div>
          <!-- <p>Phone:<input type="text"></p> -->
          <p><label for="gender">Age: </label>
            <input type="number" id="age" formControlName="age"></p>


          <p><label for="gender">Geneder: </label>
            <input type="radio" value="male" id="gender" formControlName="gender"> Male
            <input type="radio" value="female" id="gender" formControlName="gender"> Female

          </p>

          <button type="submit">Save</button> <button (click)="backprofile()">Back</button>
        </form>
      </div>
      <div *ngIf="!editstatus">
        <!-- <p>Name:</p> -->
        <p>Username: </p>
        <p>Email:</p>
        <p>Password:</p>
        <!-- <p>Phone:</p> -->
        <p>Age:</p>
        <p>Gender:</p>

        <p><button (click)="editprofile()">edit</button></p>
      </div>


    </div>
  </div>
</div>
