<div class="story-card-container">
    <div class="story-owner">
        {{storiesdetail.publisherName}}
        {{storiesdetail.publishedTime}}
    </div>
   <img src="{{storiesdetail.content.image}}">
   <video src="{{storiesdetail.content.video}}"></video>
   <p>{{storiesdetail.content.text}}</p>
    <div class="commentlike-conatiner">
        <button (click)="showComment()">Comment</button> 
        <p *ngIf="commentStatus">{{storiesdetail.comment}}</p>
        <button (click)="liked()">like</button><p>{{likeNum}}</p>
    </div>
</div>
